.Button {
  margin-top: 20px;
  size: "sm";
}

.Container {
  width: 700px;
  margin-top: 50px;
  align-self: center;
}

.form-group {
  max-width: 300px;
}

.form-control {
  margin-bottom: 10px;
}
